<div class="container-wrapper">
  <div class="overflow-x-auto mt-10 flex flex-col gap-10">
    <div class="bg-black/90 device-mapping-wrapper">
      <p class="text-white/90">Device Mapping</p>
    </div>
    <table class="table table-xs">
      <thead class="text-xs">
        <tr class="text-neutral-700 text-center">
          @for (item of header(); track $index) {
          <th>{{ item }}</th>
          }
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <th>1</th>
          <td><input type="text" class="custom-input" /></td>
          <td><input type="text" class="custom-input" /></td>
          <td>
            <select name="" id="" class="focus:outline-none">
              @for (register of registers(); track $index) {
              <option value="register">{{ register }}</option>
              }
            </select>
          </td>
          <td>
            <select name="" id="" class="focus:outline-none">
              @for (datatype of dataTypes(); track $index) {
              <option value="datatype">{{ datatype }}</option>
              }
            </select>
          </td>
          <td>
            <input type="text" class="custom-input w-20" id="interval" />
          </td>
        </tr>
      </tbody>
    </table>

    <div class="text-end">
      <button
        class="bg-black text-white/90 rounded-md px-4 py-2 text-xs cursor-pointer"
      >
        New
      </button>
    </div>
  </div>
</div>
