<div class="container-wrapper">
  <div class="overflow-x-auto mt-10 flex flex-col gap-10">
    <div class="bg-black/90 p-2">
      <p class="text-white/90">Device Mapping</p>
    </div>
    <table class="table table-xs">
      <thead class="text-xs">
        <tr class="text-neutral-700 text-center">
          @for (item of header(); track $index) {
          <th>{{ item }}</th>
          }
        </tr>
      </thead>
      <tbody class="text-center">
        @for (row of rows(); track $index) {
        <tr>
          <td>
            {{ $index + 1 }}
          </td>
          <td>
            <input
              type="text"
              class="custom-input"
              [(ngModel)]="row.parameter"
            />
          </td>
          <td>
            <input
              type="text"
              class="custom-input"
              [(ngModel)]="row.registerAddress"
            />
          </td>
          <td>
            <select class="focus:outline-none" [(ngModel)]="row.registerType" class="custom-input">
              @for (register of registers(); track $index) {
              <option [value]="register">{{ register }}</option>
              }
            </select>
          </td>
          <td>
            <select class="focus:outline-none" [(ngModel)]="row.dataType" class="custom-input">
              @for (datatype of dataTypes(); track $index) {
              <option [value]="datatype">{{ datatype }}</option>
              }
            </select>
          </td>
          <td>
            <input
              type="text"
              class="custom-input w-20"
              [(ngModel)]="row.interval"
            />
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div class="flex flex-row items-center gap-4 justify-end">
      <button
        (click)="addRow()"
        class="bg-black text-white/90 rounded-md px-4 py-2 text-xs cursor-pointer"
      >
        New
      </button>

      <button
        (click)="removeRow()"
        class="bg-black text-white/90 rounded-md px-4 py-2 text-xs cursor-pointer"
      >
        Remove
      </button>
    </div>
  </div>
</div>
