<div class="container-wrapper md:p-4 p-2">
  <div class="w-[60%] pl-8 max-sm:w-[100%] flex flex-col gap-14">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-end mt-10 gap-6">
      <div class="flex flex-col gap-4">
        <p class="text-[16px] font-semibold text-neutral-700/90">Server</p>
        <div class="relative">
          <input
            type="text"
            class="border border-neutral-300 py-2 pl-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-200 text-sm placeholder:text-xs text-gray-400 font-normal bg-white shadow-sm"
            placeholder="Search by name, Port or Pool size "
            (input)="findServer($event)"
            [value]="searchTerm()"
          />
          @if (searchTerm()) {
          <button
            (click)="clearSearch()"
            class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-600 text-sm"
          >
            ✕
          </button>
          }
        </div>
      </div>
      <button
        class="bg-neutral-800 text-white/90 rounded-md px-4 py-2 text-xs cursor-pointer"
        (click)="handleNavigation(0)"
      >
        New
      </button>
    </div>
  </div>
</div>

<!-- device profile list -->
<div
  class="md:container-wrapper container-holder-mobile w-full overflow-x-auto flex items-center justify-center mt-16"
>
  <div class="w-[90%]">
    <table
      class="table table-sm w-full min-w-[600px] bg-white/90 border border-gray-200"
    >
      <thead
        class="bg-gradient-to-r from-neutral-200 to-neutral-50 border-b border-gray-200 text-xs"
      >
        <tr class="text-neutral-600 text-center text-base font-semibold">
          @for (item of header(); track $index) {
          <th class="py-3 px-2 text-xs">{{ item }}</th>
          }
          <th class="py-3 px-2 text-xs">Actions</th>
        </tr>
      </thead>

      <tbody class="text-center">
        @if(this.filteredServers().length === 0) {
          <tr>
            <td colspan="6" class="py-4 text-gray-400">
              @if (searchTerm()) {
                No server found matching "{{ searchTerm() }}".
              } @else {
                No server found.
              }
            </td>
          </tr>

        } @else { @for(server of this.filteredServers(); track $index ) {
        <tr
          class="hover:bg-blue-50 transition-colors border-b border-gray-100 last:border-b-0"
        >
          <td class="py-2 px-2">{{ $index + 1 }}</td>
          <td class="py-2 px-2">{{ server.Name }}</td>
          <td class="py-2 px-2">{{ server.ServerIpAddress }}</td>
          <td class="py-2 px-2">{{ server.ServerPort }}</td>
          <td class="py-2 px-2">{{ server.PoolSize }}</td>
          <td class="py-2 px-2 flex gap-2 justify-center">
            <button
              class="bg-neutral-800 text-white/90 rounded-md px-4 py-1 text-xs cursor-pointer"
              (click)="handleNavigation(server.Id)"
            >
              Manage Device
            </button>

            <button
              class="bg-neutral-800 text-white/90 rounded-md px-4 py-1 text-xs cursor-pointer"
              (click)="deleteSeverProfile(server.Id)"
            >
              Delete
            </button>
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
</div>
