<p-toast></p-toast>
<div class="container-wrapper">
  <div class="overflow-x-auto mt-10 flex flex-col gap-10 pb-10">
    <div class="bg-black/90 p-2">
      <p class="text-white/90">Device Mapping</p>
    </div>

    <div class="w-full overflow-x-auto">
      <table class="table table-xs w-full min-w-[600px]">
        <thead class="text-xs">
          <tr class="text-neutral-700 text-center">
            @for (item of header(); track $index) {
            <th>{{ item }}</th>
            }
          </tr>
        </thead>
        <tbody class="text-center">
          @for(mapping of addressMappings(); track $index) {
          <tr>
            <td>
              {{ $index + 1 }}
            </td>
            <td>
              <input
                type="text"
                class="custom-input"
                [(ngModel)]="mapping.parameter"
                placeholder="Enter the Parameter"
              />
            </td>
            <td>
              <input
                type="text"
                class="custom-input"
                [(ngModel)]="mapping.registerAddress"
                placeholder="Register Address e.g 1001"
              />
            </td>
            <td>
              <select
                class="focus:outline-none custom-input"
                [(ngModel)]="mapping.registerType"
              >
                @for (register of registers(); track $index) {
                <option [value]="register">{{ register }}</option>
                }
              </select>
            </td>
            <td>
              <select
                class="focus:outline-none"
                [(ngModel)]="mapping.dataType"
                class="custom-input"
              >
                @for (datatype of dataTypes(); track $index) {
                <option [value]="datatype">{{ datatype }}</option>
                }
              </select>
            </td>
            <td>
              <input
                type="text"
                class="custom-input w-20"
                [(ngModel)]="mapping.interval"
                placeholder="in ms"
              />
            </td>
          </tr>
          } @for (row of rows(); track $index) {
          <tr>
            <td>
              {{ addressMappings().length + $index + 1 }}
            </td>
            <td>
              <input
                type="text"
                class="custom-input"
                [(ngModel)]="row.parameter"
                placeholder="Enter the Parameter"
              />
            </td>
            <td>
              <input
                type="text"
                class="custom-input"
                [(ngModel)]="row.registerAddress"
                placeholder="Register Address e.g 1001"
              />
            </td>
            <td>
              <select
                class="focus:outline-none custom-input"
                [(ngModel)]="row.registerType"
              >
                @for (register of registers(); track $index) {
                <option [value]="register">{{ register }}</option>
                }
              </select>
            </td>
            <td>
              <select
                class="focus:outline-none"
                [(ngModel)]="row.dataType"
                class="custom-input"
              >
                @for (datatype of dataTypes(); track $index) {
                <option [value]="datatype">{{ datatype }}</option>
                }
              </select>
            </td>
            <td>
              <input
                type="text"
                class="custom-input w-20"
                [(ngModel)]="row.interval"
                placeholder="in ms"
              />
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="flex flex-row items-center gap-4 justify-end">
      <button
        (click)="addRow()"
        class="bg-neutral-400/50 text-neutral-700 rounded-sm px-3 py-1 text-xs cursor-pointer"
      >
        <lucide-angular
          [img]="addIcon"
          class="my-icon h-3 w-3"
        ></lucide-angular>
      </button>

      <button
        (click)="removeRow()"
        class="bg-neutral-400/50 text-neutral-700 rounded-sm px-3 py-1 text-xs cursor-pointer"
      >
        <lucide-angular
          [img]="removeIcon"
          class="my-icon h-3 w-3"
        ></lucide-angular>
      </button>
    </div>

    <div class="flex items-end justify-center h-1/2">
      <p
        class="w-fit px-4 py-1 bg-black/90 rounded-sm text-white/90 cursor-pointer hover:bg-black/60 transition-all duration-300"
        (click)="saveDeviceWithMappings()"
      >
        Save
      </p>
    </div>
  </div>
</div>
