<p-toast></p-toast>
<div class="container-wrapper">
  <div class="container-holder min-sm:ml-8">
    <div>
      <h2 class="bg-neutral-800 text-white/90 p-2">Manage Device</h2>
    </div>

    <form
      [formGroup]="deviceForm"
      class="flex flex-col gap-6 mt-10"
      (ngSubmit)="handleFormData()"
    >
      <div class="flex flex-col gap-2 text-neutral-700">
        <label for="device-id" class="font-semibold">Device Unit Id</label>
        <input
          id="device-id"
          type="text"
          formControlName="id"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Device Unit Id"
        />
      </div>

      <div class="flex flex-col gap-2 text-neutral-700">
        <label for="device-name" class="font-semibold">Device Name</label>
        <input
          id="device-name"
          type="text"
          formControlName="deviceName"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Device name"
        />
      </div>

      <div class="flex flex-col gap-2 text-neutral-700">
        <label for="device-port" class="font-semibold">Device Port</label>
        <input
          id="device-port"
          type="text"
          formControlName="devicePort"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Device Port"
        />
      </div>

      <div class="flex flex-col gap-2 text-neutral-700">
        <label for="device-mapping" class="font-semibold">Device Profile</label>
        <input
          id="device-port"
          type="text"
          formControlName="deviceProfile"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Device Port"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="ipaddress" class="font-semibold">IP Address</label>
        <input
          id="ipaddress"
          type="text"
          formControlName="ipAddress"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the IP Address"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="device-name" class="font-semibold">Transmission Mode</label>
        <select
          formControlName="mode"
          name=""
          id=""
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
        >
          <option value="Tcp" selected class="text-neutral-700">Tcp</option>
        </select>
      </div>

      <div class="flex flex-col gap-2">
        <label for="device-name" class="font-semibold">Sampling Interval</label>
        <input
          id="device-name"
          type="text"
          formControlName="samplingInterval"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter Sampling Interval (ms)"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="device-name" class="font-semibold">Timeout</label>
        <input
          id="timout"
          type="text"
          formControlName="timeout"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Timeout (ms)"
        />
      </div>

      <!-- <div>
        <p class="cursor-pointer text-indigo-700" (click)="navigateToDeviceMapping()">Create device mapping</p>
      </div> -->

      <div class="text-center">
        <button
          class="bg-black text-white/90 text-md rounded-md px-4 py-2 cursor-pointer hover:bg-black/80 transition-all duration-300"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
