@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  .container-wrapper {
    width: 100%;
  }

  .device-mapping-wrapper {
    width: 70%;
  }

  .custom-input {
    border-width: 1px;
    border-color: rgba(82, 82, 82, 0.2); /* Tailwind's neutral-600 is #525252 */
    padding-top: 0.1rem; /* py-2 */
    padding-bottom: 0.1rem;
    padding-left: 0.25rem; /* pl-1 */
    outline: none; /* focus:outline-none */
    font-size: 14px; /* text-md (usually 16px in Tailwind) */
    font-weight: 400; /* font-normal */
  }

  .custom-input::placeholder {
    color: #9ca3af; /* Tailwind's gray-400 */
  }

  .geist {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #555555 #fff;
  }

  .container-wrapper::-webkit-scrollbar {
    display: none;
  }

  .container-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
