@import "tailwindcss";
@plugin "daisyui";

/* Tailwind Utility Classes */

/* @layer utilities { */
  #container-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem
  }

  .container-holder {
    width: 70%;
    padding: 1rem;
  }

  .container-holder-mobile {
    width: 100%;
  }

  @media (max-width: 640px) {
    .container-holder {
      width: 100%;
    }
  }

.geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555555 #fff;
}
