<p-toast></p-toast>
<div class="container-wrapper">
  <div class="container-holder min-lg:ml-8">
    <div>
      <h2 class="bg-neutral-800 text-white/90 p-2">Manage Device</h2>
    </div>

    <form
      [formGroup]="serverForm"
      class="flex flex-col gap-6 mt-10"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col gap-2">
        <label for="unitId" class="font-semibold">Unit Id</label>
        <input
          id="unitId"
          type="text"
          formControlName="unitId"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter Unit Id"
        />
      </div>

      <div class="flex flex-col gap-2 text-neutral-700">
        <label for="ipAddress" class="font-semibold">Server Name</label>
        <input
          id="ipAddress"
          type="text"
          formControlName="serverName"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Server Name"
        />
      </div>

      <div class="flex flex-col gap-2 text-neutral-700">
        <label for="ipAddress" class="font-semibold">Server Ip Address</label>
        <input
          id="ipAddress"
          type="text"
          formControlName="serverIpAddress"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the IP Address"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="port" class="font-semibold">Server Port</label>
        <input
          id="port"
          type="text"
          formControlName="serverPort"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Port"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="poolSize" class="font-semibold">Pool Size</label>
        <input
          id="poolSize"
          type="text"
          formControlName="poolSize"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Pool Size"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label for="interval" class="font-semibold">Interval</label>
        <input
          id="interval"
          type="text"
          formControlName="interval"
          class="border border-neutral-600/20 py-2 pl-1 focus:outline-none text-md placeholder:text-gray-400 font-normal"
          placeholder="Enter the Interval"
        />
      </div>

      <div class="text-center">
        <button
          class="bg-black text-white/90 text-md rounded-md px-4 py-2 cursor-pointer hover:bg-black/80 transition-all duration-300"
        >

        {{isEditMode ? "Update" : "Add"}}
        </button>
      </div>
    </form>
  </div>
</div>
